html {
    background-image: url(./reiko.JPG);
    background-size: 175%;
    font-family: monospace;
}

.clock {
    border-radius: 100%;
    height: 800px;
    width: 800px;
    margin-left: 5rem;
    margin-top: 5rem;
    border: solid rgba(255, 255, 255, 0.635) 1rem;
}

.clock-face {
    
}