html {
    background-image: url(./reiko.JPG);
    background-size: 175%;
    font-family: monospace;
}

.clock {
    border-radius: 50%;
    height: 800px;
    width: 800px;
    margin-left: 5rem;
    margin-top: 5rem;
    padding: 2rem;
    border: solid rgba(255, 255, 255, 0.635) 1rem;
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}

.hand {
    width: 50%;
    height: 1rem;
    background: rgba(167, 217, 216, 0.635);
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
}